.header {
    &__navbar {
        
        background-color: #cadbed;
        i.fas.fa-bars {
            font-size: 2rem;
        }
        .navbar-list {
            width: calc(100% - 300px);
            padding-right: 30px;
            padding-left: 70px;
            margin-right: 35px;
            justify-content: center;
            li {
                flex-basis: 25%;
            }
        }
    }
    &__carousel {
        background-color: rgba(#000, 0.3);
        border-bottom: 1px solid $color-light;
    }
    &__cart-btn {
        margin-left: 30px;
        position: relative;
        &:hover {
            .cart-counter {
                background-color: $color-light;
                color: $color-dark;
            }
        }
    }
    &__search {
        position: relative;
        &-btn {
            position: absolute;
            right: 4px;
            top: 4px;
            margin: 0;
        }
    }
    .cart-counter {
        position: absolute;
        left: -10px;
        top: -10px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: $color-dark;
        color: $color-light;
        z-index: 1;
        display: none;
    }
}

@media (max-width: 992px) {
    .header .navbar-list {
        padding-left: 0;
        width: 100%;
    }
    .header__search {
        width: calc(100% - 70px);
        margin-right: 25px;
        display: inline-block;
        button {
            margin-right: 0px;
        }
    }
    .dropdown-menu {
        width: 100%;
    }
    .header__cart-btn {
        display: inline-block;
        margin: 0;
    }
}